[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-vue"]
	path = .vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/plugins/start/vim-slim"]
	path = .vim/pack/plugins/start/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/Dockerfile.vim"]
	path = .vim/pack/plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
