[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-vue"]
	path = .vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/plugins/start/vim-slim"]
	path = .vim/pack/plugins/start/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/pack/plugins/start/Dockerfile.vim"]
	path = .vim/pack/plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/pack/plugins/start/vim-coffee-script"]
	path = .vim/pack/plugins/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/pack/plugins/start/vim-ruby"]
	path = .vim/pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/plugins/start/vim-rails"]
	path = .vim/pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/plugins/start/vim-dispatch"]
	path = .vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/plugins/start/scss-syntax.vim"]
	path = .vim/pack/plugins/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule ".vim/pack/plugins/start/tcomment_vim"]
	path = .vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/plugins/start/vim-slime"]
	path = .vim/pack/plugins/start/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule ".vim/pack/plugins/start/vim-stylus"]
	path = .vim/pack/plugins/start/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule ".vim/pack/plugins/start/vim-jest"]
	path = .vim/pack/plugins/start/vim-jest
	url = git@github.com:jamestthompson3/vim-jest.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/vim-kerboscript"]
	path = .vim/pack/plugins/start/vim-kerboscript
	url = https://github.com/yump/vim-kerboscript
[submodule ".vim/pack/plugins/start/omnisharp-vim"]
	path = .vim/pack/plugins/start/omnisharp-vim
	url = git@github.com:OmniSharp/omnisharp-vim.git
[submodule ".vim/pack/coc/start/coc.nvim"]
	path = .vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
